<!-- Sidebar-->
<div class="d-flex" id="wrapper">
<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">DariTn</div>
  <div class="list-group list-group-flush">
    <a class="list-group-item list-group-item-action bg-light" >Dashboard</a>
    <a class="list-group-item list-group-item-action bg-light" routerLink="my-properties" routerLinkActive="active" class="nav-link" >My Properties</a>
    <a class="list-group-item list-group-item-action bg-light" routerLink="create-property" routerLinkActive="active" class="nav-link" >Add Property</a>
    <a class="list-group-item list-group-item-action bg-light" >Favorites</a>
    <a class="list-group-item list-group-item-action bg-light" >Payment</a>
    <a class="list-group-item list-group-item-action bg-light" >Reclamation</a>
  </div>
</div>
</div>

